@use "../../../variables" as *;

.main{
    background-color: blue;
    width: 100vw;
    height: $page-height;
    display: flex;
    flex-direction: row;

    .selectionContainer{
        width: 50%;
        height: 100%;
        background-color: azure;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .form{
            width: 60%;
            height: 80%;
            background-color: paleturquoise;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .cardContainer{
        width: 50%;
        height: 100%;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}