@use "../../../variables" as *;

.main{
    width: 100vw;
    height: $page-height;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container{
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .admin{
            position: absolute;
            width: 20vw;
            height: 50vh;
            background-color: yellow;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
        }

        .form{
            height: 60vh;
            aspect-ratio: 4/5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include cardContainer;
            box-shadow: $boxShadow;

            .formSection{
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                text-transform: capitalize;

                .input{
                    width: 50%;
                }

                .label{
                    width: 40%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }

                .select{
                    width: 50%;
                    text-transform: capitalize;
                    display: flex;
                }

                .button{
                    padding: 0.5rem;
                    text-transform: capitalize;
                }

            }
        }
    }

    .cardContainer{
        width: 50%;
        height: 100%;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}