@use "../../../app/variables" as *;

.loadingBar {
    max-width: 400px;
    width: 75%;
    height: 25px;
    display: inline-block;
    border-radius: 4px;
    font-size: 15px;

    box-sizing: border-box;
    animation: barStripe 0.6s linear infinite;
    
  }

  .light {
    background-color: $highlight;
    border: 1px solid $highlight;
    background: linear-gradient(45deg, transparent 49%, $highlight 50%, $highlight 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, $highlight 50%, $highlight 50%, transparent 51%, transparent);
    background-size: 1em 1em;
  }
  
  .dark {
    background-color: $selected;
    border: 1px solid $selected;
    background: linear-gradient(45deg, transparent 49%, $selected 50%, $selected 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, $selected 50%, $selected 50%, transparent 51%, transparent);
    background-size: 1em 1em;
  }

  
@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}