@use "../../../../app/variables" as *;

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .cardContainer{
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
    }

    .buttonContainer{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        .button{
            @include button;
            text-transform: capitalize
        }

        .link{
            @include linkAsButton;
        }
    }
}