@use "../../../app/variables" as *;

.modal{
    width: 80vw;
    height: 80vh;
    background-color: aliceblue;
    @include cardContainer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .closeButton{
        position: absolute;
        top: 0;
        right: 0;
        width: 5%;
        background-color: $warning;
        color: $offwhite;
        border: none;

        &:hover{
            background-color: $warning-light;
            border: none;
        }
    }

    .list{
        width: 45%;
        height: 100%;
        // overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .listTitle{
            padding: 0.5rem;
            font-weight: 600;
            text-transform: capitalize;
            border-bottom: $bottomBorder;
            width: 100%;
            text-align: center;
        }

        .buttonContainer{
            width: 100%;
            padding: 0.5rem;
            display: flex;
            justify-content: space-around;

            .button{
                padding: 0.5rem;
                text-transform: capitalize;
                min-width: 25%;
            }
        }
    }

    .unitDisplay{
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .resultText{
            width: 100%;
            height: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: $bottomBorder;
        }

        .unitCardContainer{
            height: 65%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: $bottomBorder;
        }

        .rollButton{
            padding: 0.5rem;
            font-weight: 600;
        }

        .container{
            width: 90%;
            height: 20%;
            border: 1px solid $selected;
            box-shadow: $boxShadow;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .inputContainer{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }

            .buttonContainer{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }
    }
}