@use "../../../app/variables" as *;

.modal{
    width: 75vw;
    height: 75vh;
    background-color: aliceblue;
    @include cardContainer;
    display: flex;
    align-items: center;

    .list{
        width: 50%;
        // height: 100%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .buttonContainer{
            width: 100%;
            padding: 0.5rem;
        }
    }

    .diceRoller{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}