@use "../../app/variables" as *;

.card{
    width: 27.5%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    background-color: $mid;
    margin: 1rem 0;
    box-shadow: $boxShadow;
    color: $text;
    border: 2px solid $selected;

    .cardTop{
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: row;

        .cardBanners{
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: space-around;
            transform: translateY(-2px);

            .banner{
                width: 40%;
                height: 80%;
                background-color: $dark;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;

                .experienceDiamondContainer{
                    height: 12.5%;
                    aspect-ratio: 1/1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .experienceDiamond{
                        width: 40%;
                        aspect-ratio: 1/1;
                        background-color: $highlight;
                        transform: rotate(45deg);
                    }
                }

                .bannerBottom{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    aspect-ratio: 1/1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(50%);
                    
                    .diamond{
                        background-color: $mid;
                        width: 70.1%;
                        aspect-ratio: 1/1;
                        transform: rotate(45deg);
                    }
                }
            }
        }
        
        .cardOverview{
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: column;
            padding-left: 0.5rem;

            .cardHeader{
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: $bottomBorder;
                font-size: larger;
            }
        
            .cardSummary{
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .cardText{
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                }
            }
        
            .cardCost{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }


    .cardStats{
        width: 100%;
        height:30%;

        .statRow{
            width: 100%;
            height: 33%;
            border-bottom: $bottomBorder;
            display: flex;
            justify-content: space-between;

            &:first-child{
                border-top: $bottomBorder;
            }
            
            .stat{
                width: 45%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .statText{
                    text-transform: capitalize;
                    text-transform: uppercase;
                }
            }
        }
    }

    .cardTraits{
        width: 100%;
        height: 35%;

        .title{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            font-size: medium;
            text-transform: uppercase;
        }

        .traits{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;

            .traitName{
                font-size: smaller;
                font-weight: 600;
                text-transform: capitalize;
            }

            .traitDescription{
                font-size: small;
            }
        }
    }
}