@use "../../app/variables" as *;

.card{
    // width: 27.5%;
    // height: 60%;
    height: 60vh;
    aspect-ratio: 4/5;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    background-color: $mid;
    margin: 1rem 0;
    box-shadow: $boxShadow;
    color: $text;
    border: 3px solid $selected;
    box-sizing: border-box;
    position: relative;

    &:hover{
        border: 3px solid $dark;
        cursor: pointer;
    }

    .cardTop{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;

        .cardBanners{
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: space-around;
            transform: translateY(-3px);

            .banner{
                width: 40%;
                height: 90%;
                background-color: $dark;
                position: relative;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;

                .experienceDiamondContainer{
                    height: 12.5%;
                    aspect-ratio: 1/1;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:first-child{
                        margin-top: 15%;
                    }

                    .experienceDiamond{
                        width: 40%;
                        aspect-ratio: 1/1;
                        background-color: $offwhite;
                        transform: rotate(45deg);
                    }

                    .green{
                        opacity: 50%;
                    }

                    .regular{
                        opacity: 60%;
                    }

                    .seasoned{
                        opacity: 70%
                    }

                    .veteran{
                        opacity: 80%;
                    }

                    .elite{
                        opacity: 90%;
                    }

                    .super-elite{
                        opacity: 100%
                    }
                }

                .bannerBottom{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    aspect-ratio: 1/1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(50%);
                    z-index: 5;
                    
                    .diamond{
                        background-color: $mid;
                        width: 70.1%;
                        aspect-ratio: 1/1;
                        transform: rotate(45deg);
                        
                    }

                }

                .equipmentRibbon{
                    // transform: translateY(40%);
                    // background-color: blue;
                    z-index: 4;

                    .equipmentDiamond{
                        background-color: $selected;
                        border: 2px solid $mid;
                        width: 100%;
                    }
                }

                .light{
                    bottom: 5%;
                }

                .medium{
                    bottom: 15%;
                    z-index: 3;
                }

                .heavy{
                    bottom: 25%;
                    z-index: 2;
                }

                .superHeavy{
                    bottom: 35%;
                    z-index: 1
                }

            }
        }
        
        .cardOverview{
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: column;
            padding-left: 0.5rem;

            .unitStronghold{
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                // background-color: green;
                font-size: x-small;
                border-bottom: $bottomBorder;
            }

            .cardHeader{
                width: 100%;
                height: 45%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: x-large;
                // background-color: aqua;
            }
        
            .cardSummary{
                width: 100%;
                height: 30%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .cardText{
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: smaller;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }


    .cardStats{
        width: 100%;
        height:30%;

        .statRow{
            width: 100%;
            height: 33%;
            border-bottom: $bottomBorder;
            display: flex;
            justify-content: space-between;

            &:first-child{
                border-top: $bottomBorder;
            }
            
            .stat{
                width: 45%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .statText{
                    text-transform: capitalize;
                    text-transform: uppercase;
                }
            }
        }
    }

    .cardTraits{
        width: 100%;
        height: 40%;

        .title{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            font-size: medium;
            text-transform: uppercase;
        }

        .traits{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            border-bottom: $bottomBorder;

            .traitName{
                font-size: smaller;
                font-weight: 600;
                text-transform: capitalize;
            }

            .traitDescription{
                font-size: small;
            }
        }
    }

    .cardCost{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: smaller;
        font-weight: 400;
    }


    .cardFooter{
        width: 100%;
        height: 10%;
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .button{
            min-width: 25%;
            height: 60%;
            text-transform: capitalize;
        }
    }
}

.background{
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.765);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
} 

.hidden{
    visibility: hidden;
}
.activeCard{
    z-index: 5;
    border: 3px solid $dark;
}

.visible{
    visibility: visible;
}
