@use "../../app/variables" as *;

.card{
    // width: 27.5%;
    // height: 60%;
    height: 65vh;
    aspect-ratio: 4/5;
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    background-color: $mid;
    margin: 1rem 0;
    box-shadow: $boxShadow;
    color: $text;
    border: 3px solid $selected;
    box-sizing: border-box;
    position: relative;

    &:hover{
        border: 3px solid $dark;
        cursor: pointer;
    }

    .cardTop{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: row;

        .cardBanners{
            height: 100%;
            width: 25%;
            display: flex;
            justify-content: space-around;
            transform: translateY(-3px);

            .bannerContainer{
                width: 40%;
                height: 100%;
                overflow: hidden;

                .banner{
                    width: 100%;
                    height: 90%;
                    background-color: $dark;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;

                    &:after{
                        content: "";
                        position: absolute;
                        background-color: $mid;
                        bottom: 0;
                        left: 15%;
                        // width: 100%;
                        width: 70.1%;
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateY(50%) rotate(45deg);
                        z-index: 3;
                    }
    
                }

                .ancestryImageContainer{
                    width: 80%;
                    // background-color: blue;
                    height: 70%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .experience{
                    height: 50%;
                    justify-content: space-between;

                    .experienceRibbon{
                        // position:absolute;
                        // bottom: -10px;
                        width: 100%;
                        aspect-ratio: 1/1;
                        background-color: transparent;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: center;

                        &:before{
                            content: "";
                            background-color: $mid;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            bottom: -100%;
                            z-index: 6;
                        }

                        &:after{
                            content: "";
                            // position: absolute;
                            background-color: $mid;
                            border: 5px solid $dark;
                            width: 70.1%;
                            aspect-ratio: 1/1;
                            transform: translateY(50%) rotate(45deg);
                            z-index: 5;
                        }

                    }

                    .green{
                        position: absolute;
                        bottom: -10px;
                        &:after{
                            opacity: 50%;
                        }
                    }

                    .regular{
                        position: absolute;
                        bottom: -20px;
                        
                        &:before{
                            z-index: 7;
                        }
                        &:after{
                            z-index: 6;
                            opacity: 60%;
                        }
                    }

                    .seasoned{
                        position: absolute;
                        bottom: -30px;
                        
                        &:before{
                            z-index: 8;
                        }
                        &:after{
                            z-index: 7;
                            opacity: 70%
                        }
                    }

                    .veteran{
                        position: absolute;
                        bottom: -40px;
                        
                        &:before{
                            z-index: 9;
                        }
                        &:after{
                            z-index: 8;
                            opacity: 80%;
                        }
                    }

                    .elite{
                        position: absolute;
                        bottom: -50px;
                        
                        &:before{
                            z-index: 10;
                        }
                        &:after{
                            z-index: 9;
                            opacity: 90%;
                        }
                    }

                    .superElite{
                        position: absolute;
                        bottom: -60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .imageContainer{
                            width: 70%;
                            aspect-ratio: 1/1;
                            z-index: 11;
                            position: absolute;
                            bottom: 0;

                            .svg{
                                z-index: 11;
                            }
                        }

                    }
                }

                .equipment{
                    justify-content: flex-start;

                    .iconContainer{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 75%;
                        align-items: center;
                        justify-content: space-evenly;

                        .typeImageContainer{
                            width: 80%;
                            aspect-ratio: 1/1;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
    
                        .equipmentImageContainer{
                            width: 100%;
                            aspect-ratio: 1/1;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            z-index: 12;
                            flex-wrap: wrap;
    
                            .shield{
                                width: 40%;
                                height: 40%;
                                position: relative;
                            }
                        }
                    }


                }
            }


        }
        
        .cardOverview{
            height: 100%;
            width: 75%;
            display: flex;
            flex-direction: column;
            padding-left: 0.5rem;

            .unitStronghold{
                width: 100%;
                height: 15%;
                display: flex;
                align-items: center;
                // background-color: green;
                font-size: x-small;
            }

            .cardHeader{
                width: 100%;
                height: 45%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: larger;
                flex-grow: 1;
            }
        
            .cardSummary{
                width: 100%;
                height: 40%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-top: $bottomBorder;

                .cardText{
                    height: 35%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: smaller;
                    font-weight: 500;
                    text-transform: capitalize;
                }
            }
        }
    }


    .cardStats{
        width: 100%;
        height:30%;

        .statRow{
            width: 100%;
            height: 33%;
            border-bottom: $bottomBorder;
            display: flex;
            justify-content: space-between;

            &:first-child{
                border-top: $bottomBorder;
            }
            
            .stat{
                width: 45%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .statText{
                    text-transform: capitalize;
                    text-transform: uppercase;
                }
            }
        }
    }

    .cardTraits{
        width: 100%;
        height: 40%;

        .title{
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            font-size: medium;
            text-transform: uppercase;
        }

        .traits{
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            border-bottom: $bottomBorder;

            .traitName{
                font-size: smaller;
                font-weight: 600;
                text-transform: capitalize;
            }

            .traitDescription{
                font-size: small;
            }
        }
    }

    .cardCost{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: smaller;
        font-weight: 400;
    }


    .cardFooter{
        width: 100%;
        height: 10%;
        position: absolute;
        top: 100%;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .button{
            min-width: 25%;
            height: 60%;
            text-transform: capitalize;
        }
    }
}

.background{
    visibility: hidden;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.765);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
} 

.hidden{
    visibility: hidden;
}
.activeCard{
    z-index: 5;
    border: 3px solid $dark;
}

.visible{
    visibility: visible;
}
