@use "../../../app/variables" as *;

.statsContainer{
    height: 15vh;
    width: $three-column-width;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: $boxShadow;
    @include cardContainer;

    @include screen("small") {
        // width: 100%;
        // height: 45%;
      }
}

.statElement{
    display: flex;
    height: 100%;
    width: 33%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .numberContainer{
        height: 80%;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;

        .diamond{
            width: 65%;
            aspect-ratio: 1/1;
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: larger;
            background-color: $highlight;
            border: 2px solid $selected;
            transform: rotate(45deg);

            .diamondText{
                display: flex;
                transform: rotate(-45deg);
            }
        }
    }

    .statName{
        height: 20%;
        width: 100%;
        font-size: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
}
}