@use "../../../app/variables" as *;

.contextualPanel {
    width: $three-and-quarter-column-width;
    height: 100%;
    // background-color: aliceblue;
    @include cardContainer;
    box-shadow: $boxShadow;
    // overflow-y: auto;

    .cardHeader{
        position: absolute;
        top: 0;
    }

    .content{
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}