@use "../../../app/variables" as *;

.contextualPanel {
    width: $three-and-three-eighth-column-width;
    height: 100%;
    // background-color: aliceblue;
    @include cardContainer;
    box-shadow: $boxShadow;
    // overflow-y: auto;

    .cardHeader{
        position: absolute;
        top: 0;
    }

    .content{
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .buttonContainer{
            width: 100%;
            padding: 1rem;
            display: flex;
            justify-content: center;

            .button{
                text-transform: capitalize;
                padding: 0.5rem;
            }
        }
    }
}