@use "../../../app/variables" as *;

.benefitsContainer{
    height: 15vh;
    width: $three-and-half-column-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer;
    box-shadow: $boxShadow;

    .button{
        padding: 0.5rem;
        text-transform: capitalize;
    }
}