@use "../../../../app/variables" as *;

.container {
  height: 18%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid $selected;
  font-size: medium;

  &:hover {
    background-color: $highlight;
    cursor: pointer;
  }

  &:first-child {
    border: none;
  }

  &:last-child {
    border: none;
  }

  .divider {
    width: 50%;
    height: 100%;

    .currencyAmount {
      color: $text;
    }

    .animated {
      animation: glow 0.5s forwards;

      @keyframes glow {
        0% {
          text-shadow: none;
        }
        50% {
        color: $mid;
          text-shadow: 0 0 5px $background, 0 0 10px $background,
            0 0 20px $background, 0 0 40px $background,
            0 0 80px $background;
        }
        100% {
          text-shadow: none;
        }
      }
    }
    .button {
      width: 30%;
      font-size: x-small;
    }

    .input {
      width: 35%;
      font-size: small;
    }
  }

  .textDivider{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;
  }

  .inputDivider{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .text{
    font-size: x-small;
    padding-left: 0.2rem;
  }

}

.active{
    background-color: $highlight;
}
