@use "../variables" as *;

.loginPage {
    width: full;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer{
        width: 30%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include cardContainer;
        box-shadow: $boxShadow;
    }

}