@use "../../app/variables" as *;

.form{
    height: 65vh;
    aspect-ratio: 4/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include cardContainer;
    box-shadow: $boxShadow;
    // background-color: yellow;

    .formSection{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;

        .input{
            width: 50%;
        }

        .label{
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .select{
            width: 50%;
            text-transform: capitalize;
            display: flex;
        }

        .button{
            padding: 0.5rem;
            text-transform: capitalize;
            position: relative;

            &:disabled{
                cursor: not-allowed;
            }
        }

    }
}