@use "../variables" as *;

.main{
    height: $page-height;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        height: 85%;
        width:85%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .form{
            height: full;
            width: 35%;
            background-color: rgb(192, 212, 230);
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;

            .formBody{
                width: full;
                padding-top: 2.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .formSection{

                    display: flex;
                    flex-direction: column;

                    .formText{
                        padding-top: 0.75rem;
                        padding-bottom: 0.75rem;
                    }
                }

            }

            .buttonContainer{
                width:full;
                // background-color: red;
                display: flex;
                flex-direction: row;
                flex-flow: wrap;
                justify-content: space-evenly;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 2px;
                border-style: solid;

                .button{
                    border: 1px;
                    border-color: rgba(245, 245, 220, 0.477);
                    border-style: solid;
                    background: none;
                    cursor: pointer;
                    padding: 0.5rem;
                    margin: 0.5rem;
                    font-size: medium;
                    text-transform: capitalize;
                }

                .button:hover{
                    background-color: antiquewhite;
                }

                .activeButton{
                    background-color: darkslategray;
                    color: antiquewhite;
                }

                .activeButton:hover{
                    background-color: darkslategray;
                    color: antiquewhite;
                }
            }

            .formFooter{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .createButton{
                    border: none;
                    background: none;
                    background-color: aliceblue;
                    cursor: pointer;
                    padding: 0.5rem;
                    text-transform: capitalize;
                    width:30%;
                    margin-left: 1rem;
                }

                .costToBuild{
                    padding:0.5rem;
                    width:30%;
                    background-color: beige;
                    text-transform: capitalize;
                }
            }
        }
        
        .features{
            height: 100%;
            width: 35%;
            background-color: rgb(192, 212, 230);
            position: relative;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .header{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2.5rem;
            background-color: rgb(135, 175, 250);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;

            .headerText{
                font-size: large;
                text-transform: capitalize;
            }
        }

        .body{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 2.5rem;
        }
    }
}