@use "../../app/variables" as *;

.card{
    width: 98%;
    background-color: $highlight;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 0.75rem;
    box-shadow: $boxShadow;

    .textContainer{
        display: flex;
        flex-direction: column;
        width: 75%;
        height: full;
        justify-content: center;
        text-decoration: none;
        color: $text;

        .name{
            font-size: larger;
            text-transform: capitalize;
        }

        .info{
            font-size: medium;
            text-transform: capitalize;
        }

        .class{
            font-size: small;
            text-transform: capitalize;
        }
    }

    .buttonContainer{
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}