@use "../../app/variables" as *;

.card{
    width: full;
    background-color: $highlight;
    border-bottom: 2px solid $dark;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px;


    .textContainer{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: full;
        justify-content: center;

        .name{
            font-size: larger;
        }

        .info{
            font-size: medium;
        }
    }

    .buttonContainer{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}