@use "../../app/variables" as *;

//TODO: Separate into component
.raisingUnitsList{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    align-items: center;

    .unitRow{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: $bottomBorder;
        padding: 0.5rem;
        font-size: small;
        text-transform: capitalize;

        .rollText{
            // background-color: palevioletred;
            height: 100%;
            width: 25%;
            text-align: center;

        }
        .unitText{
            // background-color: paleturquoise;
            width: 75%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .bold{
            font-weight: 600;
        }

        &:nth-child(odd){
            background-color: $highlight;
        }

    }
}