@use "../../../app/variables" as *;

.treasuryContainer{
    height: 50vh;
    width: $three-column-width;
    @include cardContainer;
    box-shadow: $boxShadow;

    .revenueContainer{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .info{
            height: 60%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item{
                width: 100%;
                display: flex;
                align-items: center;
                height: 33%;
                border-bottom: 1px solid $selected;
            }
        }

        .buttonContainer{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .button{
                font-size: x-small;
                padding: 0.5rem;
                width: 45%;
                text-transform: capitalize;
            }
        }

        .season{
            font-size: x-small;
        }

    }

    .sectionHeader{
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        font-weight: 500;
        font-size: small;
    }

    .currencyContainer{
        height: 50%;
        width: 100%;
        font-size: small;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: $bottomBorder;

        .currencyHeader{
            border-bottom: 1px solid $selected;
        }
    }

}