@use "../../app/variables" as *;

.screen{
    width: 100vw;
    height:100vh;
    position: absolute;
    left:0;
    top:0;
    z-index: 5;
    pointer-events: none;
    @include pixelBackground;
    //vignette shadow around screen
    box-shadow: inset 0 0 150px rgba($text, .4), inset 0 0 150px rgba($text, .3);
}