@use "../../../../app/variables" as *;

.main{
    color: $offwhite;
    // @include mainPage;
    width: 100vw;
    min-height: 100vh;
    // height: $page-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    .unitNav{
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: $selected;
        border-bottom: 2px solid $text-transparent;
        padding: 0 $main-padding;
      
        .filterContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .dropDown{
                min-width: 15%;
            }

            .fadedText{
                color: $dark-transparent;
            }
        }
        
        .buttonContainer{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

        }
    }

    .link{
        @include linkAsButton;
        min-width: 25%;
    }

    .noUnitBody{
        width: 100vw;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .box{
            border: 2px solid $selected;
            width: 50%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            box-shadow: $boxShadow;
        }
    }
    
    .unitBody{
        width: 100vw;
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        overflow-y: auto;
        padding: 0 $main-padding;
        z-index: 2;
        padding-bottom: 5vh;

        .loadingContainer{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;

            .text {
                margin-bottom: 2.5rem;
                font-size: large;
                color: $highlight;
              }
        }

        .loading{
            @include unitCardDimensions;
            position: relative;
            margin: 1rem 0;
            border: 3px solid $selected;
        }
    }

    .footer{
        width: 100%;
        height: 10vh;
        z-index: 1;
    }
}

.noUnitsMain{
    min-height: 90vh;
}