@use "../../../../app/variables" as *;

.main{
    color: $offwhite;
    @include mainPage;
    width: full;
    height: $page-height;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}