@use "../../../app/variables" as *;

.improvementContainer{
    height: 15vh;
    width: $three-and-half-column-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer;
    box-shadow: $boxShadow;

    .featureButton{
        padding: 0.5rem;
        text-transform: capitalize;
    }

    .usesContainer{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        font-size: small;
        position: relative;

        .diamond{
            width: 5%;
            aspect-ratio: 1/1;
            background-color: $highlight;
            border: 1px solid $selected;
            transform: rotate(45deg);
            margin-left: 1rem;
        }

        .active{
            background-color: $selected;
            border: 1px solid $text;
        }

        .useButton{
            position: absolute;
            right: 0;
            width: 20%;
            text-transform: capitalize;
        }
    }
}