
// Navbar height
$navbar-height: 10vh;

// Page height
$page-height: 90vh;

//1/12th column width
$column-width: 8.33vw;
$half-column-width: $column-width / 2;

//Colours
// $background : #5a5f72;
// $background : #4e4553;
$background: rgb(84, 84, 84);
$dark: #292929;
// $mid : #cbcfdd;
$mid : #cdcbca;
$highlight : #dedede;
$highlight-transparent : #dedede79;
$offwhite : #f4f4f4;
// $selected : #B0B0B0;
$selected : rgb(148, 147, 147);
$selected-transparent : rgba(148, 147, 147, 0.5);
$text : #0E131B;
$text-transparent : #0e131b7a;
$warning : rgb(146, 47, 47);

//MATRIX MODE
// $background: black;
// $highlight: green;
// $mid: black;
// $text: lightgreen;
// $selected: lightgreen;
// $dark: black;
// $warning: red;
// $offwhite: green;

//Pastel Mode
// $background: #4B00E0;
// $highlight: #E5ECF4;
// $mid: #EFFFFA;
// $text: #8A4FFF;
// $selected: #C3BEF7;
// $dark: black;
// $warning: red;
// $offwhite: #EFFFFA;

//shades of red
// $background: #A14A76;
// $highlight: #F786AA;
// $mid: #FFA8A9;
// $text: #381A29;
// $selected: #622D47;
// $dark: #730729;
// $warning: #130107;
// $offwhite: #E8DCD9;

//Shadow
$boxShadow: 7px 7px 0 rgba($text, .3);
$textShadow: 3px 3px 0 rgba($text, .3);

//Bottom Border
$bottomBorder: 2px solid $selected;

//Background Texture
@mixin pixelBackground {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
}

//Card Container
@mixin cardContainer{
    border: 2px solid $highlight;
    background-color: $mid;
    color: $text;
    position: relative;
    padding: 1.75rem 1.5rem 0;

    .cardHeader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.75rem;
        font-weight: 500;
        text-transform: capitalize;
        background-color: $highlight;
        padding: 0.2rem 1.75rem;
        font-size: small;
        color: $text;
        display: flex;
        align-items: center;
    }

}
@mixin cardSection{
    border-bottom: $bottomBorder;
}

@mixin mainPage{
    padding: 0 $half-column-width;
}

