//1/15th column widths
$column-width: 100vw / 15;
$half-column-width: $column-width / 2;
$two-column-width: $column-width * 2;
$two-and-half-column-width: $column-width * 2.5;
$three-column-width: $column-width * 3;
$three-and-half-column-width: $column-width * 3.5;
$four-column-width: $column-width * 4;
$five-column-width: $column-width * 5;
$six-column-width: $column-width * 6;
$six-and-half-column-width: $column-width * 6.5;
$seven-and-half-column-width: $column-width * 7.5;
$eleven-column-width: $column-width * 11;
$thirteen-column-width: $column-width * 13;
$fourteen-column-width: $column-width * 14;

// Navbar height
$navbar-height: 10vh;

//Scrollbar width
$scrollbar-width: 0.75rem;

//Main page padding
$main-padding: $half-column-width;

// Page height
$page-height: 90vh;

//Screen sizes
$max-small-screen-width: 700px;
$min-medium-screen-width: $max-small-screen-width + 1px;
$max-medium-screen-width: 1169px;
$min-big-screen-width: $max-medium-screen-width + 1px;

//Colours
$background: rgb(84, 84, 84);
$dark: #292929;
$dark-transparent: #2929297c;
$mid : #cdcbca;
$highlight : #dedede;
$highlight-transparent : #dedede79;
$offwhite : #f4f4f4;
$selected : rgb(148, 147, 147);
$selected-transparent : rgba(148, 147, 147, 0.5);
$text : #0E131B;
$text-transparent : #0e131b7a;
$warning : rgb(146, 47, 47);

//MATRIX MODE
// $background: black;
// $highlight: green;
// $mid: black;
// $text: lightgreen;
// $selected: lightgreen;
// $dark: black;
// $warning: red;
// $offwhite: green;

//Pastel Mode
// $background: #4B00E0;
// $highlight: #E5ECF4;
// $mid: #EFFFFA;
// $text: #8A4FFF;
// $selected: #C3BEF7;
// $dark: black;
// $warning: red;
// $offwhite: #EFFFFA;

//shades of red
// $background: #A14A76;
// $highlight: #F786AA;
// $mid: #FFA8A9;
// $text: #381A29;
// $selected: #622D47;
// $dark: #730729;
// $warning: #130107;
// $offwhite: #E8DCD9;

//Shadow
$boxShadow: 7px 7px 0 rgba($text, .3);
$textShadow: 3px 3px 0 rgba($text, .3);

//Bottom Border
$bottomBorder: 2px solid $selected;

//Unit Card Styling
$unitCardHeight: 65vh;
$unitCardRatio: 4/5;

//MIXINS

//Unit Card
@mixin unitCardDimensions {
    height: $unitCardHeight;
    aspect-ratio: $unitCardRatio;
}

//Hide desktop content
@mixin mobile-only {
    @media (min-width: $min-medium-screen-width) { display: none; }
}
    
//Hide mobile content
@mixin desktop-only {
    @media (max-width: $max-small-screen-width) { display: none; }
} 

//Include if screen is this size
@mixin screen($size) {
    @if $size == "small" {
        @media (max-width: $max-small-screen-width) { @content; }
    } @else if $size == "medium" {
        @media (min-width: $min-medium-screen-width) and (max-width: $max-medium-screen-width) { @content; }
    } @else if $size == "large" {
        @media (min-width: ($max-medium-screen-width + 1px)) { @content; }
    }
}

//Background Texture
@mixin pixelBackground {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
}

//Button styling
@mixin button {
    border: 1px solid $selected;
    background-color: $highlight;
    color: $text;
    padding: 0.5rem;
    text-decoration: none;

    &:hover{
        cursor: pointer;
        background-color: $selected;
        border: 1px solid $text;
        color: $offwhite;
    }
}

//Card Container
@mixin cardContainer{
    border: 2px solid $highlight;
    border: 2px solid $selected;
    background-color: $mid;
    color: $text;
    position: relative;
    padding: 1.75rem 1.5rem 0;

    .cardHeader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1.75rem;
        font-weight: 500;
        text-transform: capitalize;
        background-color: $highlight;
        background-color: $selected;
        padding: 0.2rem 1.75rem;
        font-size: small;
        color: $text;
        // color: $highlight;
        display: flex;
        align-items: center;
    }

}
@mixin cardSection{
    border-bottom: $bottomBorder;
}

@mixin mainPage{
    padding: 0 $main-padding;
}

@mixin adjustedPaddingForScrollbar{
    scrollbar-gutter: stable;
    padding: 0 calc($half-column-width - 0.75rem) 0 $half-column-width;
}

@mixin linkAsButton{  
    border: 1px solid $selected;
    background-color: $highlight;
    color: $text;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    font-size: medium;
    text-transform: capitalize;

    &:hover{
        cursor: pointer;
        background-color: $selected;
        border: 1px solid $text;
        color: $offwhite;
      }
}

