
// Navbar height
$navbar-height: 10vh;

// Page height
$page-height: 90vh;

//Colours
$background : #5a5f72;
$dark: #292929;
$mid : #cbcfdd;
$highlight : #dedede;
$selected : #B0B0B0;
$text : #0E131B;

//Shadow
$boxShadow: 3px 3px 0 rgba($text, .6);

//Background Texture
@mixin pixelBackground {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
}

//Card Container
@mixin cardContainer{
    border: 2px solid $highlight;
    background-color: $mid;
    color: $text;
    position: relative;
    padding-top: 1rem;

    .cardHeader{
        position: absolute;
        top: 0;
        width: 100%;

        text-transform: capitalize;
        background-color: $highlight;
        padding: 0.2rem 0.5rem;
        font-size: small;
        color: $text;

    }
}

