
// Navbar height
$navbar-height: 10vh;

// Page height
$page-height: 90vh;

//Colours
$dark : #233243;
$mid : #94ABC7;
$highlight : #E4E9F1;
$selected : #4C6894;
$text : #0E131B;

//Card Container
@mixin cardContainer{
    border: 1px solid $highlight;
    background-color: $mid;
    color: $text;
    position: relative;
    padding-top: 1rem;

    .cardHeader{
        position: absolute;
        top: 0;
        width: 100%;
        height: 1rem;
        text-transform: capitalize;
        background-color: $highlight;
        padding: 0 0.5rem;
        font-size: small;
        color: $text;
    }
}

//Shadow
$boxShadow: 3px 3px 0 rgba($selected, .6);

//Background Texture
@mixin pixelBackground {
    background-size: 4px 4px;
    background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
}