@use "./variables" as *;

/* General styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
      width: 1rem;
    }

    ::-webkit-scrollbar-track {
      background: $mid;
    }

    ::-webkit-scrollbar-thumb {
      background: $selected;
    }
  }
  
  html,
  body {
    max-width: 100dvw;
    overflow-x: hidden;
    
  }
  
  html {
    height: 100vh;  // will be overriden by js code in Main
    overflow-x: hidden;
  }
  
  body {
    height: 100%;
    color: $text;  // remove from here
    overflow-x: hidden;
    background-color: $background; 
  }