@use "./variables" as *;

/* General styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;

    ::-webkit-scrollbar {
      width: $scrollbar-width

    }

    ::-webkit-scrollbar-track {
      background: $highlight;
      border: 1px solid $highlight;

    }

    ::-webkit-scrollbar-thumb {
      background: $selected;
      border-width: 0px 1px; 
      border-style: solid;
      border-color: $highlight;
    }

  }

  select,
  ::picker(select){
    appearance: base-select;
  }

  select{
    border: 1px solid $selected;
    border-radius: 0;
    background-color: $highlight;
    color: $text;
    padding: 0.25rem;
    cursor: pointer;
  }

  select:hover,
  select:focus{
    background-color: $mid;
    border: 1px solid $dark;
  }

  select:disabled{
    opacity: 50%;
    pointer-events: none;
  }

  select::picker-icon{
    color: $text;
    transition: 0.1s;
  }

  select:open::picker-icon{
    rotate: 90deg;
  }

  ::picker(select){
    background-color: $offwhite;
    border: 1px solid $text-transparent
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    aspect-ratio: 1/1;
    background-color: $offwhite;
    border: 1px solid $selected;
    height: 1rem;
    max-width: 1rem;

    &:hover, :focus{
      background-color: $mid;
      border: 1px solid $dark;
    }

  }

  input:checked{
    background-color: $selected;
    color: $dark;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M6.173 12.727l-3.9-3.9 1.414-1.415L6.173 9.9l6.364-6.364 1.414 1.414z'/></svg>");
  }
  
  html,
  body {
    max-width: 100dvw;
    overflow-x: hidden;
  }
  
  html {
    height: 100vh;  // will be overriden by js code in Main
    overflow-x: hidden;
  }
  
  body {
    height: 100%;
    color: $text;  // remove from here
    overflow-x: hidden;
    background-color: $background; 
    // text-wrap: balance;
  }

  main{
    max-width: 1920px;
    // justify-self: center;
  }

  input{
    padding: 0.2rem;
    border: 1px solid $background;
    background-color: $offwhite;
  }

  input:focus{
    border: 1px solid $dark;
  }

  button{
    padding: 0.175rem;
    border: 1px solid $selected;
    background-color: $highlight;
    color: $text;

    @include screen("small"){
      font-size: small;
    }
  }

  button:hover{
    cursor: pointer;
    background-color: $selected;
    border: 1px solid $text;
    color: $offwhite;
  }

  button:disabled{
    border: 1px solid $selected-transparent;
    background-color: $highlight-transparent;
    color: $text-transparent;
    // pointer-events: none;
  }