@use "./variables" as *;

/* General styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
      width: 1rem;
    }

    ::-webkit-scrollbar-track {
      background: $mid;
    }

    ::-webkit-scrollbar-thumb {
      background: $selected;
    }

    font-family: inherit;
  }
  
  html,
  body {
    max-width: 100dvw;
    overflow-x: hidden;
    
  }
  
  html {
    height: 100vh;  // will be overriden by js code in Main
    overflow-x: hidden;
  }
  
  body {
    height: 100%;
    color: $text;  // remove from here
    overflow-x: hidden;
    background-color: $background; 
  }

  input{
    padding: 0.2rem;
    border: 1px solid $background;
  }

  input:focus{
    border: 1px solid $dark;
  }

  button{
    padding: 0.175rem;
    border: 1px solid $selected;
    background-color: $highlight;
    color: $text;
  }

  button:hover{
    cursor: pointer;
    background-color: $selected;
    border: 1px solid $text;
    color: $offwhite;
  }