@use "./variables" as *;

.main{
    width: 100vw;
    height: $page-height;
    // background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .strongholdsContainer{
        width: 50%;
        height: 80%;
        // background-color: lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 6rem;
        border: 4px;
        border-style: double;
    }

    .list{
        width: 60%;
        height: 75%;
        // background-color: aliceblue;
        display: flex;
        flex-direction: column;
        position: relative;

        .cardContainer{
            overflow-y: scroll;
            width: full;
            height: 80%;
        }

        .createButtonContainer{
            height: 20%;
            width: 100%;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            // background-color: aqua;

            .createButton{
                width: 50%;
                border: 1;
                border-style: solid;
                border-radius: 10rem;
                text-align: center;
                padding: 5px;
            }
        }
    }
}