@use "./variables" as *;

.main{
    width: 100vw;
    height: $page-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .strongholdsContainer{
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include cardContainer;

        .loadingContainer{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            .loader {
                position: relative;
                width: 55px;
                height: 55px;
                background-repeat: no-repeat;
                background-image: linear-gradient($selected 50px, transparent 0),
                                  linear-gradient($selected 50px, transparent 0),
                                  linear-gradient($selected 50px, transparent 0),
                                  linear-gradient($selected 50px, transparent 0),
                                  linear-gradient($selected 50px, transparent 0),
                                  linear-gradient($selected 50px, transparent 0);
                background-size: 5px 40px;
                background-position: 0px center, 10px center, 20px center, 30px center, 40px center, 50px center;
                animation: spikeUp 1s linear infinite alternate;
              }
            @keyframes spikeUp {
              0% { background-size: 5px 40px}
              16% { background-size: 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px}
              33% { background-size: 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px, 5px 40px}
              50% { background-size: 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px, 5px 40px}
              66% { background-size: 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px, 5px 40px}
              83% { background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px, 5px 40px}
              100% { background-size: 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 40px, 5px 55px}
            }
        }

              
    }

    .listText{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: $bottomBorder;
        text-transform: capitalize;
    }

    .list{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: $bottomBorder;

        .cardContainer{
            overflow-y: auto;
            width: full;
            height: 90%;
        }

    }

    .createButtonContainer{
        height: 15%;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

        .createButton{
            padding: 0.175rem;
            border: 1px solid $selected;
            background-color: $highlight;
            color: $text;
            text-decoration: none;

            &:hover{
                cursor: pointer;
                background-color: $selected;
                border: 1px solid $text;
            }
        }
    }
}