@use "../../../app/variables" as *;

.modalMenu{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer;

    @include screen("medium"){
        width: 75%;
    }

    @include screen("small"){
        width: 95%;
    }

    .textContainer{
        font-size: large;
        border-bottom: $bottomBorder;
        width: 100%;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    .buttonContainer{
        width: 100%;
        height: 65%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .button{
            font-size: medium;
            padding: 1rem;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
}