@use "../../../app/variables" as *;

.modalMenu{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer;

    @include screen("medium"){
        width: 75%;
    }

    @include screen("small"){
        width: 95%;
    }

    .loading{
        align-items: center;
    }
    .textContainer{
        font-size: large;
        border-bottom: $bottomBorder;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .headerText{
            width: 100%;
            border-bottom: $bottomBorder;
            font-size: larger;
            font-weight: 500;
        }
        .newStat{
            color: rgb(63, 126, 74);
            color: rgb(66, 71, 135);
            color: rgb(41, 49, 161);
            font-weight: 500;
        }

        .arrow{
            color: $selected;
        }

        
        .text{
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: larger;
        }
    }

    .buttonContainer{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .button{
            font-size: medium;
            padding: 1rem;
            cursor: pointer;
            text-transform: capitalize;
        }
    }
}