@use "../../app/variables" as *;

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    .card{
        @include cardContainer;
        height: 100%;
        width: 40%;
        box-shadow: $boxShadow;

        .cardBody{
            height: 100%;
            width: 100%;

            .cardIntro{
                width: 100%;
                height: 15%;
                border-bottom: $bottomBorder;
                display: flex;
                align-items: center;

                .introText{
                    text-transform: capitalize;
                    font-size: x-large;
                }
            }
            .cardContent{
                width: 100%;
                height: 65%;
                border-bottom: $bottomBorder;

                .content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .textContainer{
                        width: 100%;
                        height: 25%;
                        border-bottom: $bottomBorder;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        font-size: medium;

                        .input{
                            width: 45%;
                        }

                        .levelButtonsList{
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .levelButton{
                                width: 15%;
                                padding: 0.5rem;
                            }

                            .activeButton{
                                background-color: $selected;
                                border: 1px solid $text;
                                color: $offwhite;
                            }
                        }
                    }

                    .buttonContainer{
                        width: 100%;
                        height: 75%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;

                        .extraText{
                            height: 25%;
                            width: 100%;
                            display: flex;
                            align-items: center;
                        }

                        .classButtonsList{
                            height: 75%;
                            width: 100%;
                            display: flex;
                            flex-flow: row wrap;
                            align-items: center;
                            justify-content: space-between;

                            .classButton{
                                width: 20%;
                                margin: 0 0.5rem;
                                padding: 0.5rem;
                            }
                        }

                        .button{
                            width: 40%;
                            margin-top: 0.35rem;
                            margin-bottom: 0.35rem;
                            padding: 0.5rem;
                            text-transform: capitalize;
                        }

                        .activeButton{
                            background-color: $selected;
                            border: 1px solid $text;
                            color: $offwhite;

                        }
                    }
                }
            }
            .cardFooter{
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .button{
                    width: 30%;
                    padding: 0.5rem;
                    position: relative;
                    
                    .tooltipText{
                        visibility: hidden;
                        position: absolute;
                        z-index: 1;
                        bottom: 105%;
                        left: 0%;
                        background-color: $highlight;
                        border: 1px solid $warning;
                        color: $warning;
                        width: 100%;
                        padding: 0.5rem;
                    }
                }

                .disabledButton{
                    pointer-events: all;
                    cursor: not-allowed; 
                }

                .disabledButton:hover .tooltipText{
                    visibility: visible;
                }

                .progressBar{
                    width: 25%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .progressIcon{
                        width: 15%;
                        aspect-ratio: 1/1;
                        background-color: $highlight;
                        border: 1px solid $selected;
                        transform: rotate(45deg);
                    }
                    
                    .progressMark{
                        background-color: $selected;
                        border: 1px solid $text;
                    }
                }
            }

            .infoCard{
                width: 100%;
                height: 100%;

                .type{
                    height: 10%;
                    width: 100%;
                    padding: 0.5rem 0;
                    text-transform: capitalize;
                    font-size: large;
                    border-bottom: $bottomBorder;
                    display: flex;
                    align-items: center;
                }
                
                .summary{
                    height: 5%;
                    width: 100%;
                    font-size: small;
                    display: flex;
                    align-items: center;
                    border-bottom: $bottomBorder;
                }
            }
        }
    }
}