@use "../../app/variables" as *;

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

    .card{
        @include cardContainer;
        height: 100%;
        width: 40%;

        .cardBody{
            height: 100%;
            width: 100%;

            .cardIntro{
                width: 100%;
                height: 20%;
                border-bottom: $bottomBorder;
            }
            .cardContent{
                width: 100%;
                height: 60%;
                border-bottom: $bottomBorder;
            }
            .cardFooter{
                width: 100%;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .button{
                    width: 30%;
                    padding: 0.5rem;
                }

                .progressBar{
                    width: 25%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .progressIcon{
                        width: 15%;
                        aspect-ratio: 1/1;
                        background-color: $highlight;
                        border: 1px solid $selected;
                        transform: rotate(45deg);
                    }
                    
                    .progressMark{
                        background-color: $selected;
                        border: 1px solid $text;
                    }
                }
            }
        }
    }
}