@use "../../app/variables" as *;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  .card {
    @include cardContainer;
    height: 100%;
    width: 40%;
    box-shadow: $boxShadow;

    .cardBody {
      height: 100%;
      width: 100%;

      .cardIntro {
        width: 100%;
        height: 15%;
        border-bottom: $bottomBorder;
        display: flex;
        align-items: center;

        .introText {
          text-transform: capitalize;
          font-size: x-large;
          font-weight: 500;
        }
      }
      .cardContent {
        width: 100%;
        height: 65%;
        border-bottom: $bottomBorder;

        .content {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          .textContainer {
            width: 100%;
            height: 25%;
            border-bottom: $bottomBorder;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: medium;

            .input {
              width: 45%;
            }

            .levelButtonsList {
              width: 100%;
              height: 50%;
              display: flex;
              justify-content: space-around;
              align-items: center;

              .levelButton {
                width: 15%;
                padding: 0.5rem;
              }

              .activeButton {
                background-color: $selected;
                border: 1px solid $text;
                color: $offwhite;
              }
            }
          }

          .buttonContainer {
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .extraText {
              height: 25%;
              width: 100%;
              display: flex;
              align-items: center;
            }

            .classButtonsList {
              height: 75%;
              width: 100%;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: space-between;

              .classButton {
                width: 20%;
                margin: 0 0.5rem;
                padding: 0.5rem;
              }
            }

            .button {
              width: 40%;
              margin-top: 0.35rem;
              margin-bottom: 0.35rem;
              padding: 0.5rem;
              text-transform: capitalize;
            }

            .activeButton {
              background-color: $selected;
              border: 1px solid $text;
              color: $offwhite;
            }
          }
        }
      }
      .cardFooter {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .createButtonContainer {
          width: 30%;

          .createButton {
            width: 100%;
            padding: 0.5rem;
            position: relative;
          }
        }

        .button {
          width: 30%;
          padding: 0.5rem;
          position: relative;
        }

        .disabledButton {
          pointer-events: all;
          cursor: not-allowed;
        }

        .progressBar {
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .progressIcon {
            width: 15%;
            aspect-ratio: 1/1;
            background-color: $highlight;
            border: 1px solid $selected;
            transform: rotate(45deg);
          }

          .progressMark {
            background-color: $selected;
            border: 1px solid $text;
          }
        }
      }

      .infoCard {
        width: 100%;
        height: 100%;

        .titleContainer {
          width: 100%;
          min-height: 15%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          border-bottom: $bottomBorder;
          padding: 0.5rem 0;
        }

        .title {
          height: 50%;
          width: 100%;
          padding: 0.5rem 0 0;
          text-transform: capitalize;
          font-size: x-large;
          font-weight: 500;
          display: flex;
          align-items: center;
        }

        .summary {
          height: 50%;
          width: 100%;
          font-size: small;
          display: flex;
          align-items: center;
          font-style: italic;
        }

        .statsContainer {
          width: 100%;
          height: 25%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          border-bottom: $bottomBorder;

          .stat {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: large;
          }
        }

        .featuresContainer {
          height: 60%;
          width: 100%;
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          border-bottom: $bottomBorder;

          .feature {
            &:last-child {
              border-bottom: $bottomBorder;
            }

            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;

            .name {
              font-size: large;
              text-transform: capitalize;
            }

            .description {
              font-size: medium;
            }
          }
        }

        .classFeaturesContainer {
          width: 100%;
          max-height: 78%;

          overflow-y: auto;

          .section {
            width: 100%;
            border-bottom: $bottomBorder;
            padding: 1rem 0 0 0;

            .sectionHeader {
              font-size: larger;
              font-weight: 500;
              text-transform: capitalize;
              margin-bottom: 0.5rem;
            }
            .subHeader {
              text-transform: capitalize;
              font-size: large;
              font-weight: 500;
            }
            .subSection {
              width: 100%;

              .text {
                font-size: medium;
              }
            }
          }
        }

        .containerTitle {
          font-size: larger;
          text-transform: capitalize;
          font-weight: 500;
          padding: 0.5rem 0 0;
          display: flex;
          align-items: center;
          width: 100%;
        }
      }

      .levelStatsContainer {
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-bottom: $bottomBorder;
      }

      .acquisitionContainer {
        width: 100%;
        height: 30%;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        border-bottom: $bottomBorder;
        padding: 0.5rem 0 0;

        .acquisitionText {
          width: 100%;
          padding: 0.5rem 0;
          // background-color: blue;
          // height: fill;
          // display: flex;
          // align-items: center;
        }
      }

      .constructionContainer {
        padding: 0.5rem 0 0;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom: $bottomBorder;
        // background-color: blue;
      }
      .levelStat {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding: 0.25rem 0;
        font-size: large;

        .costContainer{
          width: 50%;
          display: flex;
          justify-content: flex-end;
          padding: 0.5rem 0;

        }
        .costToBuild{
          margin-top: 0.5rem;
        }
        

        .numberContainer {
          width: 50%;
          display: flex;
          justify-content: flex-end;

        }
        .bonus {
          color: $selected;
          font-weight: 400;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
