@use "../../variables" as *;

.main{
    background-color: black;
    color: white;
    width: full;
    height: $page-height;
    display: flex;
    justify-content: center;
    align-items: center;

    .strongholdSheetContainer{
        border: 1px solid red;
        background-color: darkblue;
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: row;

        .strongholdSheet{
            border: 1px solid blue;
            width: 75%;
            height: full;
            display: flex;
            flex-direction: column;

            .strongholdOverview{
                border: 1px solid yellow;
                width: full;
                height: 15%;

                .strongholdName{
                    font-size: xx-large;
                }

                .strongholdInfo{
                    font-size: larger;
                }
            }

            .strongholdStats{
                border: 1px solid green;
                width: full;
                height: 20%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-evenly;

                .featuresContainer{
                    height: 100%;
                    width: 65%;
                    border:5;
                    font-size: large;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;

                    .features{
                        height: 80%;
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        background-color: white;
                        color: black
                    }

                }

                .numericalStats{
                    height: 80%;
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    background-color: white;

                    .strongholdStatNumber{
                        height: 80%;
                        width: 30%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        font-size: medium;
                        background-color: white;
                        color: black;
                    }
                }
            }

            .strongholdAssets{
                width: full;
                height: 65%;
                border: 1px solid purple;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                .strongholdTreasury{
                    height: 100%;
                    width: 30%;
                    background-color: white;
                }

                .strongholdMenu{
                    height: 100%;
                    width: 60%;
                    background-color: white;
                }
            }
        }

        .contextualPanel{
            width: 25%;
            height: full;
            // background-color: aliceblue;
        }
    }

}