@use "../../app/variables" as *;

.navbar {
    width: 100vw;
    height: $navbar-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    @include pixelBackground;
    border-bottom: 2px solid $dark;
    // border: 1;
    // border-style: dotted;

    .title{
        font-weight: 400;
        text-shadow: $textShadow;
        padding-left: 4rem;
    }

    .buttonContainer{
        width: 50%;
        // border: 1;
        // border-style: dashed;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}