@use "../../../app/variables" as *;

.modalBackground{
    width: 100dvw;
    height: $page-height;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}