@use "../../app/variables" as *;

.featuresContainer{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    // background-color: pink;

    .rulesHeader{
        width: 100%;
        font-size: large;
        text-transform: capitalize;
        padding: 0.5rem 0;
        font-weight: 600;
        border-top: 3px solid $background;

        &:first-child{
            border-top: none;
        }
    }

    .rulesText{
        font-size: small;
        width: 100%;
        // background-color: blue;
        border-bottom: $bottomBorder;
        padding: 0.5rem 0;
        font-weight: 500;
        font-style: italic;
    }

    .textItem{
        width: 100%;
        padding: 0.75rem 0;
       
        &:last-child{
            border-bottom: $bottomBorder;
        }

        .itemName{
            text-transform: capitalize;
            font-size: medium;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }

        .itemInfo{
            font-size: small;
        }
        //TODO: Separate into component
        .raisingUnitsList{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .unitRow{
                width: 50%;
                display: flex;
                justify-content: space-between;
                border-bottom: $bottomBorder;
                padding: 0.5rem;
                font-size: small;
                text-transform: capitalize;

                &:nth-child(even){
                    background-color: $highlight;
                }
            }
        }
    }

    .unitListContainer{
        width: 100%;
        height: 100%;

        .unitCategories{
            width: 100%; 
            height: 10%;
            border-bottom: 2px solid $selected;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: small;
            align-items: center;
            text-transform: capitalize;
            color: $text-transparent;
        }

        .largeCategory{
            width: 35%;
        }

        .mediumCategory{
            width: 15%;
        }

        .smallCategory{
            width: 10%;
        }

        .extraSmallCategory{
            width: 5%;
        }

    
        .unitList{
            width: 100%;
            height: 90%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            font-size: small;
            
            :first-child{
                text-transform: none;
            }

            .unit{
                min-height: 12%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-transform: capitalize;
                border-bottom: 1px solid $selected-transparent;

                &:hover{
                    background-color: $highlight;
                    cursor: pointer;
                }
            }  
        }

        .stats{
            display: flex;
            justify-content: center;
        }
    }

    .unitCardContainer{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}