@use "../../app/variables" as *;

.featuresContainer{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    // background-color: pink;

    .rulesHeader{
        width: 100%;
        font-size: large;
        text-transform: capitalize;
        padding: 0.5rem 0;
        font-weight: 600;
        border-top: 3px solid $background;

        &:first-child{
            border-top: none;
        }
    }

    .rulesText{
        font-size: small;
        width: 100%;
        // background-color: blue;
        border-bottom: $bottomBorder;
        padding: 0.5rem 0;
        font-weight: 500;
        font-style: italic;
    }

    .textItem{
        width: 100%;
        padding: 0.75rem 0;
       
        &:last-child{
            border-bottom: $bottomBorder;
        }

        .itemName{
            text-transform: capitalize;
            font-size: medium;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }

        .itemInfo{
            font-size: small;
        }
    }
}