@use "../../../variables" as *;

.main {
  color: $offwhite;
  @include mainPage;
  width: full;
  height: $page-height;
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen("small") {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .adminLoadingButton {
    position: absolute;
    top: 5rem;
    left: 0;
    padding: 0.5rem;
  }

  .strongholdSheetContainer {
    width: $fourteen-and-half-column-width;
    height: 82.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: aliceblue;
    @include screen("small") {
      flex-direction: column;
      min-height: 90dvh;
      min-width: 90dvw;
      justify-content: flex-start;
      align-items: center;
    }
    @include screen("medium") {
      flex-direction: column;
    }

    .strongholdSheet {
      width: $eleven-column-width;
      // background-color: aquamarine;
      height: full;
      display: flex;
      flex-direction: column;
      @include screen("small") {
        width: 100%;
        justify-content: flex-start;
        align-items: center;
      }
      @include screen("medium") {
        width: 100%;
        height: 100%;
      }

      .sheetFirstRow {
        width: full;
        height: 10%;
        // background-color: blue;
        display: flex;
        flex-direction: row;
        
        @include screen("small") {
          width: full;
          height: 6%;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        @include screen("medium") {
          height: 10%;
        }

        .loadingName {
          height: 45%;
          width: 50%;
          margin: 0.5rem 0;
          background-color: $selected;
          opacity: 50%;
          background: linear-gradient(
            to right,
            $selected 8%,
            $mid 18%,
            $selected 33%
          );
          background-size: 1000px 100%;
          animation: shimmer 1.5s infinite linear forwards;
        }

        .loadingInfo {
          height: 20%;
          width: 25%;
          opacity: 50%;
          background-color: $selected;
          background: linear-gradient(
            to right,
            $selected 8%,
            $mid 18%,
            $selected 33%
          );
          background-size: 1000px 100%;
          animation: shimmer 1.5s infinite linear forwards;
        }

        .strongholdTitle{
          width: 50%;
          height: 100%;
          // background-color: red;
          display: flex;
          flex-direction: column;
          
          .strongholdName {
            font-size: x-large;
            text-shadow: $textShadow;
            // background-color: green;
  
            @include screen("small") {
              font-size: x-large;
            }
          }

          .strongholdSubHeading{
            font-size: small;
            text-transform: capitalize;
          }
        }

        .strongholdInfo {
          // background-color: yellow;
          width: 50%;
          font-size: medium;
          text-transform: capitalize;
          text-shadow: $textShadow;
          width: full;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          @include screen("small") {
            font-size: medium;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
          }

          .upgradeContainer {
            // background-color: blue;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-around;

            .upgradeInfo {
              width: 100%;
              // background-color: yellow;
              display: flex;
              align-items: center;
              justify-content: flex-end;

              .upgradeText {
                font-size: small;
                margin-right: 0.5rem;
              }
            }

            .restButton {
              padding: 0.5rem;
              text-transform: capitalize;
              @include screen("small") {
                font-size: xx-small;
                padding: 0.3rem;
              }
            }
          }

          .lowerCase {
            text-transform: lowercase;
          }
        }

        @keyframes shimmer {
          0% {
            background-position: -1000px 0;
          }
          100% {
            background-position: 1000px 0;
          }
        }
      }

      .sheetSecondRow {
        width: full;
        height: 25%;
        // background-color: red;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        @include screen("small") {
          flex-direction: column;
          width: 100%;
          height: 20%;
        }
        @include screen("medium") {
          height: 15%;
        }
      }

      .sheetThirdRow {
        width: full;
        height: 65%;
        // background-color: purple;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include screen("medium") {
          flex-direction: column;
          height: 75%;
          width: 100%;
        }

        @include screen("small") {
          flex-direction: column-reverse;
        }

        .strongholdMenu {
          height: 50vh;
          // width: 65%;
          width: $seven-and-five-eighth-column-width;
          @include cardContainer;
          box-shadow: $boxShadow;

          @include screen("medium") {
            width: 100%;
            height: 72.5%;
          }

          @include screen("small") {
            width: 100%;
            min-height: 50%;
          }

          .strongholdMenuButtons {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            border-bottom: $bottomBorder;

            .menuCategories {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .categoryButton {
                width: 22%;
                height: 75%;
                text-transform: capitalize;

                @include screen("small") {
                  font-size: xx-small;
                  padding: 0.1rem 0;
                  height: 50%;
                }
              }
            }

            .menuSubCategories {
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              @include screen("small") {
                flex-wrap: wrap;
                justify-content: space-around;
              }

              .subCategoryButton {
                // width: 17%;
                min-width: 15%;
                padding: 0 0.4rem;
                height: 60%;
                font-size: x-small;
                margin-right: 0.5rem;
                text-transform: capitalize;

                @include screen("small") {
                  font-size: xx-small;
                  min-width: 15%;
                  padding: 0.2rem;
                  height: 40%;
                }
              }

              .button{
                height: 60%;
                min-width: 15%;
                padding: 0 0.4rem;
                font-size: x-small;
                text-transform: capitalize;
                position: absolute;
                right: 0;
              }
            }

            .activeButton {
              background-color: $selected;
              color: $offwhite;
              border: 1px solid $text;
            }
          }

          .strongholdMenuText {
            width: 100%;
            height: 75%;
          }
        }
      }
    }

    .contextualPanel {
      @include desktop-only;
      width: 20%;
      height: full;
      // background-color: aliceblue;
      @include cardContainer;
      box-shadow: $boxShadow;

      @include screen("small") {
        width: 100%;
        height: full;
      }

      @include screen("medium") {
        display: none;
      }

      .infoTitle {
        font-size: medium;
        width: 100%;
        border-bottom: $bottomBorder;
        text-transform: capitalize;
        padding: 0.5rem 0;
      }

      .info {
        font-size: small;
        padding: 0.5rem 0;
        border-bottom: $bottomBorder;
      }
    }
  }
}
