@use "../../app/variables" as *;

.main{
    width: 100vw;
    height: $page-height;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .loadingScreen{
        height:100%;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .loader {
            width: 96px;
            height: 24px;
            display: inline-block;
            background-color: #FFF;
            border: 1px solid #FFF;
            border-radius: 4px;
            background: linear-gradient(45deg, transparent 49%, #FFF 50%, #FFF 50%, transparent 51%, transparent), linear-gradient(-45deg, transparent 49%, #FFF 50%, #FFF 50%, transparent 51%, transparent);
            font-size: 15px;
            background-size: 1em 1em;
            box-sizing: border-box;
            animation: barStripe 0.6s linear infinite;
          }
          
          @keyframes barStripe {
            0% {
              background-position: 1em 0;
            }
            100% {
              background-position: 0 0;
            }
          }
    
        .text{
            font-size: xx-large;
            color: whitesmoke;
            animation-duration: 2s;
            animation-name: pulse;
            animation-iteration-count: infinite;
        }
    
        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }
    }

}