@use "../../../../../app/variables" as *;

.retainerListContainer{
    width: 100%;
    height: 100%;

    .retainerCategories{
        width: 100%;
        height: 10%;
        border-bottom:  2px solid $selected;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        align-items: center;
        text-transform: capitalize;
        color: $text-transparent;

    }

    .retainerList{
        width: 100%;
        height: 90%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        font-size: small;

        :first-child{
            text-transform: none;
        }

        .retainerRow{
            width: 100%;
            min-height: 12%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: small;
            align-items: center;
            text-transform: capitalize;
            color: $dark;
            border-bottom: 1px solid $selected-transparent;

            &:hover{
                background-color: $highlight;
                cursor: pointer;
            }
        }
    }

    
    .category{
        width: 19%;
        text-wrap: nowrap;
        overflow-x: clip;
        text-overflow: ellipsis;
    }

    .large{
        width:35%;
    }

    .medium{
        width: 19%;
    }

    .small{
        width: 10%;
    }
    
}