@use "../../../app/variables" as *;

.loadingIcon {
    width: 64px;
    height: 44px;
    position: relative;
    border: 5px solid $selected;
    border-radius: 8px;
  }
  .loadingIcon::before {
    content: '';
    position: absolute;
    border: 5px solid $selected;
    width: 32px;
    height: 28px;
    border-radius: 50% 50% 0 0;
    left: 50%;
    top: 0;
    transform: translate(-50% , -100%)
  
  }
  .loadingIcon::after {
    content: '';
    position: absolute;
    transform: translate(-50% , -50%);
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $selected;
    box-shadow: 16px 0 $selected, -16px 0 $selected;
    animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
    0% {
      background-color: $highlight;
      box-shadow: 16px 0 $highlight, -16px 0 $selected;
    }
    50% {
      background-color: $selected;;
      box-shadow: 16px 0 $highlight, -16px 0 $highlight;
    }
    100% {
      background-color: $highlight;
      box-shadow: 16px 0 $selected, -16px 0 $highlight;
    }
  }