.formContainer {
    background-color: lightcyan;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .signUpForm {
        width: 50%;
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}