@use "../../app/variables" as *;

.formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .signUpForm {
        width: 40%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include cardContainer;
        box-shadow: $boxShadow;
    }
}