@use "../variables" as *;

.main{
    width: 100vw;
    height: $page-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .strongholdsContainer{
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include cardContainer;
        box-shadow: $boxShadow;
        @include screen("medium"){
            width: 60%;
            height: 70%;
        }
        @include screen("small"){
            width: 95%;
            height: 85%;
        }

        .loadingContainer{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

              
    }

    .noStrongholdsContainer{
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }

    .listText{
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: $bottomBorder;
        text-transform: capitalize;
    }

    .list{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: $bottomBorder;

        .cardContainer{
            overflow-y: auto;
            width: full;
            height: 90%;
        }

    }

    .createButtonContainer{
        height: 15%;
        width: 100%;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;

    }
    .createButton{
        @include button;
    }
}