@use "../../../app/variables" as *;

.modalMenu{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer;

    .buttonContainer{
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .button{
            padding: 0.5rem;
            text-transform: capitalize;
            font-size: medium;
        }

        .link{
            @include linkAsButton;
        }
    }
}