@use "../../../app/variables" as *;

.modalMenu{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include cardContainer
}